.root {
	-fx-background-color: #fff;
	-fx-font-family:  "Verdana";
	-fx-border-color: #888;
}

#buttonBack {
	-fx-background-image: url("images/back.png");
	-fx-background-size: 24px;
	-fx-background-position: 0;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#buttonSettings {
	-fx-background-image: url("images/settings.png");
	-fx-background-size: 24px;
	-fx-background-position: 0;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#buttonClose {
	-fx-background-image: url("images/close.png");
	-fx-background-size: 24px;
	-fx-background-position: 0;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#buttonMaximize {
	-fx-background-image: url("images/maximize.png");
	-fx-background-size: 24px;
	-fx-background-position: 0;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#buttonMinimize {
	-fx-background-image: url("images/minimize.png");
	-fx-background-size: 24px;
	-fx-background-position: 0;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.toolbarPane {
	-fx-background-color:
        linear-gradient(rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
	-fx-padding: 5px;
}

	.toolbarPane > #address {
		-fx-font-size: 12px;
	}